:root {
     --white: #FFFFFF;
     --black: #000000;
}

/* GENERAL */
html {
     box-sizing: border-box;
     height: 100%;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: inherit;
}

body {
     display: flex;
     flex-direction: column;
     height: 100%;
     padding: 0;
     margin: 0;
     font-family: "Open Sans", "Arial", sans-serif;
     font-weight: 400;
     background-color: hsl(257, 40%, 49%);
     color: var(--white);
}

img {
     max-width: 100%;
     height: auto;
}

/* CONTAINER */
.container {
     max-width: 1700px;
     padding-left: 50px;
     padding-right: 50px;
     margin-left: auto;
     margin-right: auto;
}

main {
     background-image: url("images/bg-desktop.svg");
     width: 100%;
     height: 100vh;
}

.logo img {
     margin-top: 35px;
}

.logo:hover {
     opacity: 0.8;
}

.logo:active {
     opacity: 0.6;
}

.hero {
     display: flex;
     justify-content: space-between;
     margin-top: 100px;
}

.hero-content {
     margin-left: 50px;
     margin-top: 40px;
}

.hero-content h1 {
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     width: 400px;
}

.hero-content p {
     line-height: 1.6;
     margin-top: 0;
     margin-bottom: 45px;
}

.hero-btn {
     text-decoration: none;
     color: hsl(257, 40%, 49%);
     background-color: var(--white);
     padding: 20px 70px;
     border-radius: 70px;
     font-family: 'Poppins', sans-serif;
     font-weight: 400;
     box-shadow: 0px 9px 13px 0px rgba(6, 6, 6, 0.284);
     transition: all 0.3s ease;
}

.hero-btn:hover {
     background-color: hsl(300, 69%, 71%);
     color: var(--white);
}

.hero-btn:active {
     opacity: 0.7;
}

.social-icons {
     display: flex;
     justify-content: flex-end;
     padding-bottom: 50px;
}

.social {
     color: var(--white);
     margin-right: 20px;
     font-size: 25px;
}

.social:last-child {
     margin-right: 0;
}

.social:hover {
     color: hsl(300, 69%, 71%);
}

.social:active {
     opacity: 0.8;
}


@media only screen and (max-width: 1000px) {
     .hero {
          display: flex;
          flex-direction: column;
          margin-top: 100px;
     }
}
@media only screen and (max-width: 600px) {
     main {
          background-image: url(images/bg-mobile.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100vh;
     }
     .hero {
          display: flex;
          flex-direction: column;
     }
     .hero-content {
          margin-left: 0px;
          margin-top: 40px;
          text-align: center;
     }
     .hero-content h1 {
          width: auto;
     }
     .social-icons {
          display: flex;
          justify-content: center;
          padding-top: 50px;
          padding-bottom: 50px;
     }
}

